In [1]:
import pandas as pd
import os
from datetime import date, datetime, timedelta
import numpy as np
import seaborn as sns

C:\Users\marie\AppData\Local\Temp\ipykernel_36156\1657975687.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
dirpath = os.getcwd()
data_path = os.path.join(dirpath, "..", "data")

df = pd.read_csv(os.path.join(data_path, "delpro_visit_lactation.csv")) # , header = 0,  names = names, dtype = dtypes)
df = df[df['date'].notna()]
df.date = [datetime.strptime(day, "%Y-%m-%d") for day in df.date]

agg_df = df[["animal_number", "date", "days_in_milk"]].drop_duplicates().groupby("animal_number")\
    .agg(min_date = ("date", "min"), \
         max_date = ("date", "max"), \
         count_date = ("date", "count"), \
         min_dim = ("days_in_milk", "min"), \
         max_dim = ("days_in_milk", "max")).reset_index()

agg_df.to_csv(os.path.join(data_path, "dim_lactation.csv"), index = False)

In [7]:
last_date = datetime.strptime("2024-11-18", "%Y-%m-%d")
agg_df[agg_df.max_date > last_date]

     animal_number   min_date   max_date  count_date  min_dim  max_dim
66            1127 2023-10-06 2024-12-16         440      0.0    437.0
140           1314 2023-11-16 2024-11-20         374      0.0    370.0
151           1352 2023-11-13 2024-11-20         381      0.0    373.0
221           1475 2023-10-09 2024-12-16         437      0.0    434.0
225           1479 2023-11-13 2024-12-09         402      0.0    392.0