In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
milk_df = pd.read_csv("milk_videos.csv")

In [28]:
# prediced cows 
# video metadata path
dirpath = os.getcwd()
pred_path = os.path.join(os.path.normpath(dirpath + os.sep + os.pardir), r'udder_processing\cow_good_frames.csv')
video_path = os.path.join(os.path.normpath(dirpath + os.sep + os.pardir), r'udder_video')
pred_cows = list(pd.read_csv(pred_path)["cow"].values)

with open(os.path.join(video_path, "filelist_toframe.txt"), "r") as f:
    video_files = [file.replace("\n", "").split(",") for file in f.readlines()]
labeled_cows = [int(file[1].split("_")[0]) for file in video_files]

all_cows = pred_cows +labeled_cows

In [33]:
milk_df[~milk_df.cow.isin(all_cows)]

,cow,farmname,robotside,filename,directory,date,time,size,computer,begin_time,...,latest_lifetime_daily_yield,total_lifetime_yield,type,avg._occ_last_9_milkings,avg._flow_last_7_days,avg._yield_per_milking_last_7d,total_yield_in_lactation,peak_yield,peak_yield_day,peak_occ_current_lactation.1
153,1489,laufenberg,right,1489_20231117_165935.bag,videos_1,20231117,17:03:58,20348549877,maria,11/17/2023 4:57 PM,...,0.7,508.0,Tank,NaN,12.51,31.68,507.97,NaN,NaN,NaN